
.job {
  display: flex;
  margin: 20px 0;
  padding: 10px 10px;
  border:4px solid peru;
  border-radius: 15px;;
}

.job:hover {
  cursor: pointer;
  background-color: #e6e0e0;
}

.job-description {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.job-title {
  color:orange;
  margin-bottom: 20px;
}

.job-location {
  color:rgb(245, 175, 105);
  font-style: italic;
}

.job-item-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-date {
  text-align: right;
}
.job-date p {
  margin:0px;
}
.job-logo {
  text-align: right;
}
.job-logo img{
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 768px){
  .job-logo {
    text-align: left;
  }
  .job-date {
    text-align: left;
  }
}